In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('final_clean.csv')

In [3]:
df

,Unnamed: 0,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Speed Limit,Road User,Gender,Age,Age Group,Day of week,Time of day,Number Fatalities
0,0,20215034,WA,8,2021,Saturday,4:45,Single,110,Driver,Male,20,17_to_25,Weekend,Night,1
1,1,20213072,Qld,8,2021,Sunday,5:00,Multiple,100,Passenger,Male,18,17_to_25,Weekend,Night,1
2,2,20211066,NSW,8,2021,Saturday,0:05,Single,100,Driver,Male,20,17_to_25,Weekend,Night,1
3,3,20215081,WA,8,2021,Monday,4:00,Single,100,Driver,Male,27,26_to_39,Weekend,Night,1
4,4,20211093,NSW,8,2021,Saturday,18:00,Multiple,100,Driver,Male,34,26_to_39,Weekend,Night,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,51221,19891246,NSW,1,1989,Wednesday,17:05,Single,60,Passenger,Female,5,0_to_16,Weekday,Day,1
51222,51222,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,19,17_to_25,Weekday,Day,3
51223,51223,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51224,51224,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51225,51225,19896063,Tas,1,1989,Tuesday,12:40,Multiple,60,Passenger,Female,63,40_to_64,Weekday,Day,1