In [225]:
import pandas as pd
import numpy as np

In [226]:
fat_crash=pd.read_csv("ardd_fatal_crashes_aug2021.csv")
fatalities=pd.read_csv("ardd_fatalities_aug2021.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (11,12,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [227]:
fat_crash.head()

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Number Fatalities,Bus \nInvolvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,Speed Limit,National Remoteness Areas,SA4 Name 2016,National LGA Name 2017,National Road Type,Christmas Period,Easter Period,Day of week,Time of Day
0,20215032,WA,8,2021,Sunday,10:57,Single,2,No,No,No,110,NaN,NaN,NaN,NaN,No,No,Weekend,Day
1,20212108,Vic,8,2021,Sunday,11:37,Single,1,-9,-9,-9,80,Major Cities of Australia,Melbourne - Outer East,Knox (C),National or State Highway,No,No,Weekend,Day
2,20211021,NSW,8,2021,Saturday,16:57,Single,1,No,No,No,50,Major Cities of Australia,Hunter Valley exc Newcastle,Port Stephens,Local Road,No,No,Weekend,Day
3,20213135,Qld,8,2021,Saturday,12:00,Multiple,1,No,No,No,100,Outer Regional Australia,Townsville,Townsville (C),National or State Highway,No,No,Weekend,Day
4,20212028,Vic,8,2021,Sunday,12:00,Multiple,1,-9,-9,-9,-9,Inner Regional Australia,Latrobe - Gippsland,Baw Baw (S),Arterial Road,No,No,Weekend,Day

In [228]:
fat_crash.isnull().sum()

Crash ID                             0
State                                0
Month                                0
Year                                 0
Dayweek                              0
Time                                 0
Crash Type                           0
Number Fatalities                    0
Bus \nInvolvement                    0
Heavy Rigid Truck Involvement        0
Articulated Truck Involvement        0
Speed Limit                          0
National Remoteness Areas        40944
SA4 Name 2016                    40930
National LGA Name 2017           40929
National Road Type               40943
Christmas Period                     0
Easter Period                        0
Day of week                          0
Time of Day                          0
dtype: int64

In [229]:
len(fat_crash)

47492

In [230]:
fat_crash.drop('SA4 Name 2016', axis=1, inplace=True)
fat_crash.drop('National Remoteness Areas', axis=1, inplace=True)
fat_crash.drop('National LGA Name 2017', axis=1, inplace=True)
fat_crash.drop('National Road Type', axis=1, inplace=True)
fat_crash.drop('Christmas Period', axis=1, inplace=True)
fat_crash.drop('Heavy Rigid Truck Involvement', axis=1, inplace=True)
fat_crash.drop('Articulated Truck Involvement', axis=1, inplace=True)
fat_crash.drop('Easter Period', axis=1, inplace=True)

In [231]:
fatalities.isnull().sum()

Crash ID                             0
State                                0
Month                                0
Year                                 0
Dayweek                              0
Time                                 0
Crash Type                           0
Bus Involvement                      0
Heavy Rigid Truck Involvement        0
Articulated Truck Involvement        0
Speed Limit                          0
Road User                            0
Gender                               0
Age                                  0
National Remoteness Areas        45948
SA4 Name 2016                    45934
National LGA Name 2017           45933
National Road Type               45948
Christmas Period                     0
Easter Period                        0
Age Group                            0
Day of week                          0
Time of day                          0
dtype: int64

In [232]:
fatalities.drop('Bus Involvement', axis=1, inplace=True)
fatalities.drop('SA4 Name 2016', axis=1, inplace=True)
fatalities.drop('Heavy Rigid Truck Involvement', axis=1, inplace=True)
fatalities.drop('Articulated Truck Involvement', axis=1, inplace=True)
fatalities.drop('National Remoteness Areas', axis=1, inplace=True)
fatalities.drop('National LGA Name 2017', axis=1, inplace=True)
fatalities.drop('National Road Type', axis=1, inplace=True)
fatalities.drop('Christmas Period', axis=1, inplace=True)
fatalities.drop('Easter Period', axis=1, inplace=True)

In [233]:
fatalities.isnull().sum()

Crash ID       0
State          0
Month          0
Year           0
Dayweek        0
Time           0
Crash Type     0
Speed Limit    0
Road User      0
Gender         0
Age            0
Age Group      0
Day of week    0
Time of day    0
dtype: int64

In [234]:
fatalities["Speed Limit"].unique()

array(['110', '100', '60', '-9', '50', '70', '80', '40', '90', '130',
       '20', '10', '30', '25', '15', '<40', '5', 'Unspecified', '75', 100,
       80, 110, 60, 90, -9, 70, 40, 50, 30, 20, 75], dtype=object)

In [235]:
fatalities=fatalities[fatalities["Speed Limit"]!="Unspecified"]

In [236]:
fatalities=fatalities[fatalities["Speed Limit"]!="-9"]

In [237]:
fatalities=fatalities[fatalities["Speed Limit"]!=-9]

In [238]:
fatalities["Speed Limit"].unique()

array(['110', '100', '60', '50', '70', '80', '40', '90', '130', '20',
       '10', '30', '25', '15', '<40', '5', '75', 100, 80, 110, 60, 90, 70,
       40, 50, 30, 20, 75], dtype=object)

In [239]:
fatalities["Speed Limit"].replace("<40",40, inplace=True)

In [240]:
fatalities["Speed Limit"].replace(38,40, inplace=True)

In [241]:
fatalities["Speed Limit"].unique()

array(['110', '100', '60', '50', '70', '80', '40', '90', '130', '20',
       '10', '30', '25', '15', 40, '5', '75', 100, 80, 110, 60, 90, 70,
       50, 30, 20, 75], dtype=object)

In [242]:
 fatalities[["Speed Limit"]]=fatalities[["Speed Limit"]].apply(pd.to_numeric)

In [243]:
fatalities["Road User"].unique()

array(['Driver', 'Passenger', 'Motorcycle rider', 'Pedestrian',
       'Pedal cyclist', 'Other/-9', 'Motorcycle pillion passenger'],
      dtype=object)

In [244]:
fatalities=fatalities[fatalities["Road User"]!='Other/-9']

In [245]:
fatalities["Gender"].unique()

array(['Male', 'Female', '-9', 'Unspecified'], dtype=object)

In [246]:
fatalities["Gender"].replace("-9",'Unspecified', inplace=True)

In [247]:
fatalities=fatalities[fatalities["Age"]!=-9]

##Cleaned fatalities

In [248]:
fatalities.isnull().sum()

Crash ID       0
State          0
Month          0
Year           0
Dayweek        0
Time           0
Crash Type     0
Speed Limit    0
Road User      0
Gender         0
Age            0
Age Group      0
Day of week    0
Time of day    0
dtype: int64

In [249]:
fat_crash["Number Fatalities"].unique()

array([ 2,  1,  3,  4,  5,  6, 11,  7, 12, 10, 35, 20], dtype=int64)

In [250]:
newfat=fat_crash[["Crash ID","Number Fatalities"]]

In [251]:
df=pd.merge(fatalities,newfat,on="Crash ID")

In [252]:
df.dtypes

Crash ID              int64
State                object
Month                 int64
Year                  int64
Dayweek              object
Time                 object
Crash Type           object
Speed Limit           int64
Road User            object
Gender               object
Age                   int64
Age Group            object
Day of week          object
Time of day          object
Number Fatalities     int64
dtype: object

In [253]:
df.to_csv("final_clean.csv")

In [254]:
df

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Speed Limit,Road User,Gender,Age,Age Group,Day of week,Time of day,Number Fatalities
0,20215034,WA,8,2021,Saturday,4:45,Single,110,Driver,Male,20,17_to_25,Weekend,Night,1
1,20213072,Qld,8,2021,Sunday,5:00,Multiple,100,Passenger,Male,18,17_to_25,Weekend,Night,1
2,20211066,NSW,8,2021,Saturday,0:05,Single,100,Driver,Male,20,17_to_25,Weekend,Night,1
3,20215081,WA,8,2021,Monday,4:00,Single,100,Driver,Male,27,26_to_39,Weekend,Night,1
4,20211093,NSW,8,2021,Saturday,18:00,Multiple,100,Driver,Male,34,26_to_39,Weekend,Night,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,19891246,NSW,1,1989,Wednesday,17:05,Single,60,Passenger,Female,5,0_to_16,Weekday,Day,1
51222,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,19,17_to_25,Weekday,Day,3
51223,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51224,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51225,19896063,Tas,1,1989,Tuesday,12:40,Multiple,60,Passenger,Female,63,40_to_64,Weekday,Day,1

In [255]:
df["Number Fatalities"].unique()

array([ 1,  2,  3,  4,  5,  6, 11,  7, 12, 10, 35, 20], dtype=int64)

In [256]:
final=pd.read_csv("final_clean.csv")

In [257]:
len(final)

51226

#scatterplot

In [258]:
final

,Unnamed: 0,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Speed Limit,Road User,Gender,Age,Age Group,Day of week,Time of day,Number Fatalities
0,0,20215034,WA,8,2021,Saturday,4:45,Single,110,Driver,Male,20,17_to_25,Weekend,Night,1
1,1,20213072,Qld,8,2021,Sunday,5:00,Multiple,100,Passenger,Male,18,17_to_25,Weekend,Night,1
2,2,20211066,NSW,8,2021,Saturday,0:05,Single,100,Driver,Male,20,17_to_25,Weekend,Night,1
3,3,20215081,WA,8,2021,Monday,4:00,Single,100,Driver,Male,27,26_to_39,Weekend,Night,1
4,4,20211093,NSW,8,2021,Saturday,18:00,Multiple,100,Driver,Male,34,26_to_39,Weekend,Night,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,51221,19891246,NSW,1,1989,Wednesday,17:05,Single,60,Passenger,Female,5,0_to_16,Weekday,Day,1
51222,51222,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,19,17_to_25,Weekday,Day,3
51223,51223,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51224,51224,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51225,51225,19896063,Tas,1,1989,Tuesday,12:40,Multiple,60,Passenger,Female,63,40_to_64,Weekday,Day,1

In [259]:
final.dtypes

Unnamed: 0            int64
Crash ID              int64
State                object
Month                 int64
Year                  int64
Dayweek              object
Time                 object
Crash Type           object
Speed Limit           int64
Road User            object
Gender               object
Age                   int64
Age Group            object
Day of week          object
Time of day          object
Number Fatalities     int64
dtype: object

In [260]:
final.State.unique()

array(['WA', 'Qld', 'NSW', 'Vic', 'Tas', 'NT', 'SA', 'ACT'], dtype=object)

In [261]:
final.rename( columns={'Unnamed: 0':'index'}, inplace=True )

In [262]:
final

,index,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Speed Limit,Road User,Gender,Age,Age Group,Day of week,Time of day,Number Fatalities
0,0,20215034,WA,8,2021,Saturday,4:45,Single,110,Driver,Male,20,17_to_25,Weekend,Night,1
1,1,20213072,Qld,8,2021,Sunday,5:00,Multiple,100,Passenger,Male,18,17_to_25,Weekend,Night,1
2,2,20211066,NSW,8,2021,Saturday,0:05,Single,100,Driver,Male,20,17_to_25,Weekend,Night,1
3,3,20215081,WA,8,2021,Monday,4:00,Single,100,Driver,Male,27,26_to_39,Weekend,Night,1
4,4,20211093,NSW,8,2021,Saturday,18:00,Multiple,100,Driver,Male,34,26_to_39,Weekend,Night,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,51221,19891246,NSW,1,1989,Wednesday,17:05,Single,60,Passenger,Female,5,0_to_16,Weekday,Day,1
51222,51222,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,19,17_to_25,Weekday,Day,3
51223,51223,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51224,51224,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51225,51225,19896063,Tas,1,1989,Tuesday,12:40,Multiple,60,Passenger,Female,63,40_to_64,Weekday,Day,1

In [263]:
final.drop('index', axis=1, inplace=True)

In [264]:
final

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Speed Limit,Road User,Gender,Age,Age Group,Day of week,Time of day,Number Fatalities
0,20215034,WA,8,2021,Saturday,4:45,Single,110,Driver,Male,20,17_to_25,Weekend,Night,1
1,20213072,Qld,8,2021,Sunday,5:00,Multiple,100,Passenger,Male,18,17_to_25,Weekend,Night,1
2,20211066,NSW,8,2021,Saturday,0:05,Single,100,Driver,Male,20,17_to_25,Weekend,Night,1
3,20215081,WA,8,2021,Monday,4:00,Single,100,Driver,Male,27,26_to_39,Weekend,Night,1
4,20211093,NSW,8,2021,Saturday,18:00,Multiple,100,Driver,Male,34,26_to_39,Weekend,Night,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,19891246,NSW,1,1989,Wednesday,17:05,Single,60,Passenger,Female,5,0_to_16,Weekday,Day,1
51222,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,19,17_to_25,Weekday,Day,3
51223,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51224,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51225,19896063,Tas,1,1989,Tuesday,12:40,Multiple,60,Passenger,Female,63,40_to_64,Weekday,Day,1

In [265]:
max(final["Speed Limit"])

130

In [266]:
final["Speed Group"]=final["Speed Limit"]

In [267]:
for i in range(len(final)):   
    if final["Speed Group"].iloc[i] in range(0,31):
        final["Speed Group"].replace(final["Speed Group"].iloc[i],"10_30", inplace=True)
    elif final["Speed Group"].iloc[i] in range(31,61):
        final["Speed Group"].replace(final["Speed Group"].iloc[i],"40_60", inplace=True)
    elif final["Speed Group"].iloc[i] in range(61,91):
        final["Speed Group"].replace(final["Speed Group"].iloc[i],"70_90", inplace=True)
    elif final["Speed Group"].iloc[i] in range(91,121):
        final["Speed Group"].replace(final["Speed Group"].iloc[i],"100_120", inplace=True)
    elif final["Speed Group"].iloc[i] in range(121,151):
        final["Speed Group"].replace(final["Speed Group"].iloc[i],"120_150", inplace=True)

In [268]:
final

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Speed Limit,Road User,Gender,Age,Age Group,Day of week,Time of day,Number Fatalities,Speed Group
0,20215034,WA,8,2021,Saturday,4:45,Single,110,Driver,Male,20,17_to_25,Weekend,Night,1,100_120
1,20213072,Qld,8,2021,Sunday,5:00,Multiple,100,Passenger,Male,18,17_to_25,Weekend,Night,1,100_120
2,20211066,NSW,8,2021,Saturday,0:05,Single,100,Driver,Male,20,17_to_25,Weekend,Night,1,100_120
3,20215081,WA,8,2021,Monday,4:00,Single,100,Driver,Male,27,26_to_39,Weekend,Night,1,100_120
4,20211093,NSW,8,2021,Saturday,18:00,Multiple,100,Driver,Male,34,26_to_39,Weekend,Night,1,100_120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,19891246,NSW,1,1989,Wednesday,17:05,Single,60,Passenger,Female,5,0_to_16,Weekday,Day,1,40_60
51222,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,19,17_to_25,Weekday,Day,3,100_120
51223,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3,100_120
51224,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3,100_120
51225,19896063,Tas,1,1989,Tuesday,12:40,Multiple,60,Passenger,Female,63,40_to_64,Weekday,Day,1,40_60

In [269]:
final["Day_Time"]=final["Age"]

In [270]:
for i in range(len(final)):   
    if final["Day of week"].iloc[i]=="Weekday" and final["Time of day"].iloc[i]=="Night":
        final.loc[i,"Day_Time"]="weekday_night"
    elif final["Day of week"].iloc[i]=="Weekday" and final["Time of day"].iloc[i]=="Day":
        final.loc[i,"Day_Time"]="weekday_day"
    elif final["Day of week"].iloc[i]=="Weekend" and final["Time of day"].iloc[i]=="Night":
        final.loc[i,"Day_Time"]="weekend_night"
    elif final["Day of week"].iloc[i]=="Weekend" and final["Time of day"].iloc[i]=="Day":
        final.loc[i,"Day_Time"]="weekend_day"

In [271]:
final["Time"].unique()

array(['4:45', '5:00', '0:05', ..., '22:33', '9:42', '6:57'], dtype=object)

In [272]:
final

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Speed Limit,Road User,Gender,Age,Age Group,Day of week,Time of day,Number Fatalities,Speed Group,Day_Time
0,20215034,WA,8,2021,Saturday,4:45,Single,110,Driver,Male,20,17_to_25,Weekend,Night,1,100_120,weekend_night
1,20213072,Qld,8,2021,Sunday,5:00,Multiple,100,Passenger,Male,18,17_to_25,Weekend,Night,1,100_120,weekend_night
2,20211066,NSW,8,2021,Saturday,0:05,Single,100,Driver,Male,20,17_to_25,Weekend,Night,1,100_120,weekend_night
3,20215081,WA,8,2021,Monday,4:00,Single,100,Driver,Male,27,26_to_39,Weekend,Night,1,100_120,weekend_night
4,20211093,NSW,8,2021,Saturday,18:00,Multiple,100,Driver,Male,34,26_to_39,Weekend,Night,1,100_120,weekend_night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,19891246,NSW,1,1989,Wednesday,17:05,Single,60,Passenger,Female,5,0_to_16,Weekday,Day,1,40_60,weekday_day
51222,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,19,17_to_25,Weekday,Day,3,100_120,weekday_day
51223,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3,100_120,weekday_day
51224,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3,100_120,weekday_day
51225,19896063,Tas,1,1989,Tuesday,12:40,Multiple,60,Passenger,Female,63,40_to_64,Weekday,Day,1,40_60,weekday_day

In [274]:
final.to_csv("final_clean.csv")

In [224]:
final

,Unnamed: 0,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Speed Limit,Road User,Gender,Age,Age Group,Day of week,Time of day,Number Fatalities
0,0,20215034,WA,8,2021,Saturday,4:45,Single,110,Driver,Male,20,17_to_25,Weekend,Night,1
1,1,20213072,Qld,8,2021,Sunday,5:00,Multiple,100,Passenger,Male,18,17_to_25,Weekend,Night,1
2,2,20211066,NSW,8,2021,Saturday,0:05,Single,100,Driver,Male,20,17_to_25,Weekend,Night,1
3,3,20215081,WA,8,2021,Monday,4:00,Single,100,Driver,Male,27,26_to_39,Weekend,Night,1
4,4,20211093,NSW,8,2021,Saturday,18:00,Multiple,100,Driver,Male,34,26_to_39,Weekend,Night,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,51221,19891246,NSW,1,1989,Wednesday,17:05,Single,60,Passenger,Female,5,0_to_16,Weekday,Day,1
51222,51222,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,19,17_to_25,Weekday,Day,3
51223,51223,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51224,51224,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3
51225,51225,19896063,Tas,1,1989,Tuesday,12:40,Multiple,60,Passenger,Female,63,40_to_64,Weekday,Day,1

In [276]:
final["Country"]=final["Time of day"]

In [277]:
final["Country"].replace("Day","Australia", inplace=True)

In [278]:
final["Country"].replace("Night","Australia", inplace=True)

In [279]:
final.to_csv("final_clean.csv")

In [280]:
final

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Speed Limit,Road User,Gender,Age,Age Group,Day of week,Time of day,Number Fatalities,Speed Group,Day_Time,Country
0,20215034,WA,8,2021,Saturday,4:45,Single,110,Driver,Male,20,17_to_25,Weekend,Night,1,100_120,weekend_night,Australia
1,20213072,Qld,8,2021,Sunday,5:00,Multiple,100,Passenger,Male,18,17_to_25,Weekend,Night,1,100_120,weekend_night,Australia
2,20211066,NSW,8,2021,Saturday,0:05,Single,100,Driver,Male,20,17_to_25,Weekend,Night,1,100_120,weekend_night,Australia
3,20215081,WA,8,2021,Monday,4:00,Single,100,Driver,Male,27,26_to_39,Weekend,Night,1,100_120,weekend_night,Australia
4,20211093,NSW,8,2021,Saturday,18:00,Multiple,100,Driver,Male,34,26_to_39,Weekend,Night,1,100_120,weekend_night,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,19891246,NSW,1,1989,Wednesday,17:05,Single,60,Passenger,Female,5,0_to_16,Weekday,Day,1,40_60,weekday_day,Australia
51222,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,19,17_to_25,Weekday,Day,3,100_120,weekday_day,Australia
51223,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3,100_120,weekday_day,Australia
51224,19895088,WA,1,1989,Monday,6:00,Single,110,Passenger,Male,17,17_to_25,Weekday,Day,3,100_120,weekday_day,Australia
51225,19896063,Tas,1,1989,Tuesday,12:40,Multiple,60,Passenger,Female,63,40_to_64,Weekday,Day,1,40_60,weekday_day,Australia